In [1]:
import pandas as pd
import numpy as np

In [8]:
s = 'ABCDEFGH'
df = pd.DataFrame([tuple(s[:k*i]) for i in range(3,7) for k in [1, -1]])
df

   0  1     2     3     4     5
0  A  B     C  None  None  None
1  A  B     C     D     E  None
2  A  B     C     D  None  None
3  A  B     C     D  None  None
4  A  B     C     D     E  None
5  A  B     C  None  None  None
6  A  B     C     D     E     F
7  A  B  None  None  None  None

In [33]:
df.iloc[np.argsort(df.count(axis=1))[::-1]].reset_index(drop=True)

   0  1     2     3     4     5
0  A  B     C     D     E     F
1  A  B     C     D     E  None
2  A  B     C     D     E  None
3  A  B     C     D  None  None
4  A  B     C     D  None  None
5  A  B     C  None  None  None
6  A  B     C  None  None  None
7  A  B  None  None  None  None